In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [75]:
df=pd.read_csv(r"C:\Users\mark kevin\Downloads\spam_ham_dataset.csv\spam_ham_dataset.csv")
df

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [76]:
df.shape

(5171, 4)

In [77]:
df.isnull().sum()

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

In [78]:
df=df.drop(columns=['label_num','Unnamed: 0'])
df

     label                                               text
0      ham  Subject: enron methanol ; meter # : 988291\r\n...
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3     spam  Subject: photoshop , windows , office . cheap ...
4      ham  Subject: re : indian springs\r\nthis deal is t...
...    ...                                                ...
5166   ham  Subject: put the 10 on the ft\r\nthe transport...
5167   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168   ham  Subject: calpine daily gas nomination\r\n>\r\n...
5169   ham  Subject: industrial worksheets for august 2000...
5170  spam  Subject: important online banking alert\r\ndea...

[5171 rows x 2 columns]

In [79]:
from sklearn.preprocessing import LabelEncoder

In [80]:
label_encoder = LabelEncoder()
df['label_encoded'] = label_encoder.fit_transform(df['label'])
df

     label                                               text  label_encoded
0      ham  Subject: enron methanol ; meter # : 988291\r\n...              0
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...              0
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...              0
3     spam  Subject: photoshop , windows , office . cheap ...              1
4      ham  Subject: re : indian springs\r\nthis deal is t...              0
...    ...                                                ...            ...
5166   ham  Subject: put the 10 on the ft\r\nthe transport...              0
5167   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...              0
5168   ham  Subject: calpine daily gas nomination\r\n>\r\n...              0
5169   ham  Subject: industrial worksheets for august 2000...              0
5170  spam  Subject: important online banking alert\r\ndea...              1

[5171 rows x 3 columns]

In [81]:
X=df['text']
y=df['label_encoded']

In [82]:
X

0       Subject: enron methanol ; meter # : 988291\r\n...
1       Subject: hpl nom for january 9 , 2001\r\n( see...
2       Subject: neon retreat\r\nho ho ho , we ' re ar...
3       Subject: photoshop , windows , office . cheap ...
4       Subject: re : indian springs\r\nthis deal is t...
                              ...
5166    Subject: put the 10 on the ft\r\nthe transport...
5167    Subject: 3 / 4 / 2000 and following noms\r\nhp...
5168    Subject: calpine daily gas nomination\r\n>\r\n...
5169    Subject: industrial worksheets for august 2000...
5170    Subject: important online banking alert\r\ndea...
Name: text, Length: 5171, dtype: object

In [83]:
y

0       0
1       0
2       0
3       1
4       0
       ..
5166    0
5167    0
5168    0
5169    0
5170    1
Name: label_encoded, Length: 5171, dtype: int32

In [84]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)
X_train

3628    Subject: meter 986296\r\nscherlyn , per our co...
2491    Subject: natural gas nomination for 08 / 00\r\...
3262    Subject: cleburne outage\r\ngentlemen ,\r\ni w...
2972    Subject: daren ,\r\nthe firm trading waha book...
2481    Subject: re : mon , 2 feb 2004 03 : 16 : 16 - ...
                              ...
4931    Subject: re : pretty boy wants to meet his sou...
3264    Subject: if you need to make money learn from ...
1653    Subject: find out where to buy drugs cheap\r\n...
2607    Subject: job survey and matching\r\nheather - ...
2732    Subject: - - - - - - - - - - - - - - - - - - -...
Name: text, Length: 4136, dtype: object

In [85]:
X_train

3628    Subject: meter 986296\r\nscherlyn , per our co...
2491    Subject: natural gas nomination for 08 / 00\r\...
3262    Subject: cleburne outage\r\ngentlemen ,\r\ni w...
2972    Subject: daren ,\r\nthe firm trading waha book...
2481    Subject: re : mon , 2 feb 2004 03 : 16 : 16 - ...
                              ...
4931    Subject: re : pretty boy wants to meet his sou...
3264    Subject: if you need to make money learn from ...
1653    Subject: find out where to buy drugs cheap\r\n...
2607    Subject: job survey and matching\r\nheather - ...
2732    Subject: - - - - - - - - - - - - - - - - - - -...
Name: text, Length: 4136, dtype: object

In [86]:
y_train

3628    0
2491    0
3262    0
2972    0
2481    1
       ..
4931    1
3264    1
1653    1
2607    0
2732    0
Name: label_encoded, Length: 4136, dtype: int32

In [87]:
y_test

1789    0
2277    0
2618    0
3144    1
3756    0
       ..
5009    0
2892    0
3993    0
2557    1
3571    0
Name: label_encoded, Length: 1035, dtype: int32

In [88]:
df.isnull().sum()

label            0
text             0
label_encoded    0
dtype: int64

In [89]:
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [90]:
print(X_train_features)

  (0, 39122)	0.1489707406646257
  (0, 21876)	0.15452467049357102
  (0, 39295)	0.18296953062812027
  (0, 28331)	0.100413186925558
  (0, 16641)	0.1637097662727073
  (0, 25343)	0.1327903166471815
  (0, 24291)	0.086819999802958
  (0, 25011)	0.09352929013170533
  (0, 35741)	0.1797981565768853
  (0, 38670)	0.12368485263465394
  (0, 12407)	0.11614143442868556
  (0, 64)	0.2320330901784706
  (0, 72)	0.11287588933297091
  (0, 2003)	0.22022236239236187
  (0, 56)	0.19294689361509368
  (0, 28212)	0.13465733801362062
  (0, 26193)	0.13355578907978374
  (0, 17814)	0.15230033297810594
  (0, 27541)	0.15176632211845267
  (0, 12467)	0.19120758987148667
  (0, 35035)	0.2927898419075641
  (0, 4132)	0.5855796838151281
  (0, 26894)	0.29612657680252463
  (0, 37566)	0.03390898877474294
  (1, 2308)	0.12427819881705193
  :	:
  (4135, 36363)	0.10387970460445373
  (4135, 37874)	0.1099845935208329
  (4135, 2822)	0.12063179979974499
  (4135, 38317)	0.10810759560254152
  (4135, 40607)	0.10560544386588379
  (4135, 40291)	0.11299201077228706
  (4135, 15900)	0.488967789194047
  (4135, 21484)	0.2124142371045675
  (4135, 413)	0.07519809344202233
  (4135, 31166)	0.1326730537355078
  (4135, 12628)	0.14524639101918718
  (4135, 18641)	0.06946028839048392
  (4135, 29991)	0.14450797727496295
  (4135, 18061)	0.08153315477412791
  (4135, 6766)	0.06921382012790604
  (4135, 13624)	0.10038182580759486
  (4135, 10333)	0.060679153815343334
  (4135, 26746)	0.10136850781611118
  (4135, 28620)	0.10149460916503103
  (4135, 89)	0.0822876361497879
  (4135, 38674)	0.058028581787208704
  (4135, 1005)	0.11167175749411277
  (4135, 16616)	0.17085405597392975
  (4135, 39122)	0.3315653328811712
  (4135, 37566)	0.05031433287101096

In [91]:
model=LogisticRegression()
model.fit(X_train_features,y_train)

LogisticRegression()

In [92]:
y_pred = model.predict(X_test_features)

In [93]:
y_pred

array([0, 0, 0, ..., 0, 1, 0])

In [94]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9884057971014493

In [95]:
from sklearn.model_selection import cross_val_score
cross_val_score(model, X_train_features, y_train, cv=5, scoring='accuracy').mean()

0.986944546670639

In [73]:
#Building a predictive system
input_mail=["I HAVE A PLAN ON SUNDAY WITH WILL!!"]
input_mail_features=feature_extraction.transform(input_mail)
prediction=model.predict(input_mail_features)
prediction

if prediction[0]==1:
    print("Mail is ham")
else:
    print("Mail is spam")

Mail is spam